.elements__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/elements__delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s linear;
}

.elements__delete-button:hover {
  opacity: 0.6;
}