.profile__edit-button {
  margin: 10px 0 0;
  background-image: url(../../../images/profile__edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  padding: 0;
  align-self: center;
  cursor: pointer;
  transition: opacity 1s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .profile__edit-button {
    margin-top: 0;
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}