.profile {
  max-width: calc(100% - 400px);
  margin: 40px auto 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: calc(100% - 38px);
    margin-top: 42px;
    flex-direction: column;
  }
}