.elements__info {
  max-width: 282px;
  min-height: 79px;
  box-sizing: border-box;
  padding: 30px 20px 31px 21px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}