.elements {
  max-width: calc(100% - 400px);
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 1250px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .elements {
    max-width: calc(100% - 38px);
    margin: 36px auto 0;
    grid-template-columns: 1fr;
  }
}