.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup__close.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s linear;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/popup__close_320px.svg);
    top: -36px;
    right: 0;
  }
}