.popup__save-button {
  cursor: pointer;
  max-width: 358px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  color: #FFF;
  background: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 1s linear;

  margin-top: 10px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .popup__save-button {
    max-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;

    margin-top: 25px;
  }
}